<li id="<%= position.id %>">
  <%= position.timestamp %>
  <% if position.latitude && position.longitude %>
  <br>
  <span class="content">Latitude: <b><%= position.human_lat %></b><br>Longitude: <b><%= position.human_long %></b></span>
  <% end %>
  
</li>
