<li id="<%= position.id %>">
  <%= position.timestamp %>
  <% if position.attacked then %>
    <b><br>Sauen er under angrep</b>
  <% end %>
  <br>
  <b><span class="content">Latitude: <%= position.latitude%> </span><br><span> Longitude: <%=position.longitude %></span></b>
  <br>
  
</li>
