  <div class="section">
    <div class="inner">
      <div class="w-row">
        <div class="w-col w-col-4" style="padding:0px 30px;">
          <div class="w-row" style="padding-bottom:10px;">
            <div class="w-col w-col-6">
              <h1 style="margin: 0;">Sauer</h1>
            </div>
            <div class="w-col w-col-6">
            <a class="btn btn-default" style="float:right;" href="#"><span class="glyphicon-pencil" style="padding-right:10px"></span>Rediger</a>
            <a class="btn btn-default" style="float:right; margin-right:6px" href="#"><span class="glyphicon-plus" style="padding-right:10px"></span>Legg til</a>
            </div>
          </div>
          <select id="e2" style="width:100%; margin-bottom: 10px">
				<% @sheep.each do |sheep| %>
                <option value="<% @sheep.serial %>"><% @sheep.serial %></option>
				<% end %>
            </select>
          <div class="w-container sheeps"
            style="height: 400px; overflow-y: scroll; overflow-x: hidden;">
			
            <div class="list-group">
				<% @sheep.each do |sheep| %>
              <%= link_to sheep.serial.to_s + " @post 900, 800", sheep, :class => "list-group-item" %>
			   <% end %> <!-- list-group-item active -->
			  
            </div>
          </div>
        </div>
        <div class="w-col w-col-8" style="padding:0px 30px;">
            <div class="w-embed w-script kart" id="map">
              <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
              <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
              <script>
                //Her setter man latitude og longitude
                var map = L.map('map').setView([63.6268, 11.5668], 13);
                 //Denne er for opencyclemap layout (Gir høydekvoter)
                L.tileLayer('http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png', {
                  maxZoom: 18,
                  attribution: '&copy; OpenCycleMap, ' + 'Map data '
                }).addTo(map);
                L.marker([63.6268, 11.5668]).addTo(map)
                  .bindPopup("<b>Sau 1</b><br /> er her").openPopup();
                L.marker([63.6220, 11.5811]).addTo(map)
                  .bindPopup("<b>Sau 2</b><br /> er her").openPopup();
                var popup = L.popup();
                function onMapClick(e) {
                  popup
                    .setLatLng(e.latlng)
                    .setContent("You clicked the map at " + e.latlng.toString())
                    .openOn(map);
                }
                map.on('click', onMapClick);
              </script>

              <script>
                  $(document).ready(function() {
                    $("#e2").select2({
                          placeholder: "Select a State",
                          allowClear: true
                      }); });
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>


<br>

<%= link_to 'New Sheep', new_sheep_path %>
