<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8'
    http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>, your sheep is under attack!</h1>
    <p>
      Your sheep # <%= @sheep.serial %> is under attack
      at position X Y
    </p>
  </body>
</html>
