body, html { height: 100%; }

.section {
 	position: absolute; 
  	width: 400px; 
  	right: 20px; 
  	top: 78px;
  	z-index: 99;
	margin: 0px;
	padding: 0px;
}

.select-sts {
	width: 90%;
	margin-left: 40px;
}

.new-sheep {
	position: absolute;
	font-size: 8px;
	color: #666;
	background-color: rgba(255, 255, 255, 0.80);
}

.new-sheep-box-hidden {
	display: none;
}

.new-sheep-box-visible {
	position: absolute;
	width: 100%;
	height: 180px;
	top: 30px;
	background-color: rgba(255, 255, 255, 0.80);	
}

.new-sheep-close-button {
    margin-right: 6px;
}

.new-sheep-form {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 10px;
	width: auto;
    display: block;
}

.new-sheep-create-button {
    position: absolute;
    bottom: 0;
    right: 0;
	margin-right: 20px;
	margin-bottom: 14px;
}


.sheep-box-hidden {
	display: none;
}

.sheep-box-visible {
	position: absolute;
	width: 40%;
	height: 70%;
	top: 80px;
	bottom: 20%;
	left: 70px;
	background-color: rgba(255, 255, 255, 0.80);	
}


.leaflet-popup-content-wrapper {
	min-width: 140px !important;
}

.marker-popup-header {
	padding-bottom: 12px;
}

.kart {
  position: relative;
  height: auto;
  min-height: 100%;
  margin-right: 27px;
  width: 100%;
}

.leaflet-control {
	margin-top: 78px !important;
	left: 10px !important;
}

.navbar {
	border-bottom: solid 1px #ccc; 
	margin-bottom: 5px; 
	background-color: rgba(255, 255, 255, 0.70);
}

header {
	position: absolute; 
	width: 100%;
}

.navbar-brand {
	margin-bottom: 0px;
}

.navbar-slogan {
	src: url('/fonts/ftr.ttf');
	font-family: Felt Tip;
	padding-left: 8px;
}

.navbar-login-topright {
	margin-right:10px; 
	margin-top:8px;
}

.navbar-logout {
	padding-left: 20px;
}

.pull-right {
	margin-right:20px;
}

.sad-face {
    display: block;
    margin-left: auto;
    margin-right: auto;
	padding-top: 10%;
}

.sad-face-text {
	text-align: center;
	text-size: 40px;
	color: #555;
}

.center-aligned-text {
	text-align: center;
	color: #333;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}

.login-farmer {
    display: block;
	width: 30%;
	
    position:absolute;
	min-top: 20%;
    top:50%;
    left:50%;
    margin-top: -10%; /* this is half the height of your div*/  
    margin-left: -15%; /*this is half of width of your div*/
}

.signup-farmer-bg {
    background: url('/assets/sheep_picture.jpg') no-repeat center center fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	width: 100%;
	height: 100%;
}

.signup-farmer {
    display: block;
	width: 30%;
	
    position:absolute;
    top:50%;
    left:50%;
    margin-top: -15%; /* this is half the height of your div*/  
    margin-left: -15%; /*this is half of width of your div*/
}

.signup-farmer-bg {
    background: url('/assets/sheep_picture.jpg') no-repeat center center fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	width: 100%;
	height: 100%;
}

.signup-farmer-create {
    display: block;
	width: 100%;
}

.index-container {
	width: 100%;
    height:100%;
	
	padding-top: 8%;
	padding-left: 10%;
	padding-right: 10%;

	margin-top: 0px;
	margin-bottom: 0px;
}

.button_header {
	margin-left: 30px;
}