<header>
  <nav class="navbar navbar-primary navbar-static-top" style="border-bottom: solid 1px #ccc; margin-bottom: 5px;" role="navigation">
    <div class="navbar-header">
      <p class="navbar-brand" style="margin-bottom: 0px">Sheep Tracking System</p>
    <ul class="nav navbar-nav navbar-right">

	<% if signed_in? %>
		<li><button type="button" class="btn btn-default navbar-btn" style="margin-right:10px">Sign in</button></li>
		<p class="navbar-text pull-right" style="margin-right:20px;">Logget inn som <a href="#" class="navbar-link">Bonden Bo</a></p>

		<% else %>
		<li><%= link_to sheep_path(@sheep) do %>
		<button type="button" class="btn btn-default navbar-btn" style="margin-right:10px">Logg inn</button>
		</li>
		<% end %>
		
	<% end %>

	</ul>
 </div>
</nav>
</header>