<header>
<nav class="navbar navbar-primary navbar-static-top" role="navigation">
  <div class="navbar-header">
    <p class="navbar-brand">Sheep Tracking System</p>
  </div>
  
	<% if not signed_in? %>
  	<ul class="nav navbar-nav navbar-right">
    	<li>
			<div class="navbar-login-topright">
				<%= link_to "Log in", new_session_path(), class: "btn btn-large btn-default" %>
			</div>
		</li>
  	</ul>
	<% else %>
  	<p class="navbar-text pull-right">Logget inn som <a href="farmers/<%= current_user.id %>" class="navbar-link"><%= current_user.name %></a></p>
	<% end %>
	
</nav>
</header>
    
        
        
